/* ___________________________________________reset Password_page___________________________________________ */
#resetPassword_page {
  min-height: 91vh;
  background-color: #f4f5f6;
}
/* ____________________resetPassword heading____________________ */
#resetPassword_heading {
  font-weight: bolder;
  font-size: 22px;
  color: rgb(82, 116, 185);
}
/* ____________________resetPassword btn____________________ */
#resetPassword_btn {
  font-weight: bold;
  background-color: rgb(82, 116, 185);
}
/* _________line with text at middle___________________ */
#horizontal-line::before,
#horizontal-line::after {
  content: "";
  display: block;
  flex: 1 1;
  margin: auto;
  border-bottom: 2px solid #b9babb;
}
#horizontal-line {
  display: flex;
  flex-direction: row;
  color: #b9babb;
  font-weight: bolder;
}
#horizontal-line:before,
#horizontal-line:after {
  content: "";
  flex: 1 1;
  width: 10px;
}
