* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
    /* clip is used so that overflow property does not restrict position sticky */
  overflow-x: clip;
}

